#app{
  box-shadow: 5px 5px 1px .1px var(--dark);
}
.sections-left{
  background-color: var(--dark);
  display: block;
  box-shadow: 5px 0px 10px -1px var(--dark) !important;
  z-index: 1;
  padding-bottom: 2rem;
  color: var(--white);
}
.sections-rigth section,
.sections-left section{
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}
.sections-rigth{
  background: var(--white);
  margin-bottom: 2rem;
}
.shape{
  display: inline-flex;
  background: var(--dark);
  width: 250px;
  align-items: center;
  justify-content: right;
  clip-path: polygon(100% 0%, 100% 100%, 15% 100%, 0.50% 50%, 15% 0%);
  border-radius: .5rem;
  grid-column: 2 / 3;
}
.shape-title{
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
}
.shape-icon{
  max-width: 50px;
  margin: .5rem;
}
.contact-title{
  text-align: center;
  text-transform: uppercase;
}
.contact-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.contact-icon{
  width: 35px;
  height: 35px;
}
.contact-info a{
  color: var(--white)
}
.about-info,
.education-list,
.experience-list{
  grid-area: 2 / 1 / 3 / 3;
}
.education-item,
.experience-item{
  margin-bottom: 1rem;
}
.skills{
  text-align: center;
  text-transform: uppercase;
}
.skill-level{
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.skill-level span{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--white);
}
.skill-level span.active{
  background: var(--white);
}
.education-title{
  font-family: 'Metropolis Extra';
  font-weight: 200;
  color: var(--ligth);
}